# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\1\atm_shop_car\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
